{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@100&family=Rubik:wght@300&family=Secular+One&family=Source+Serif+Pro:ital,wght@0,300;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
</head>
<body>
   <div class="container_head">
    <div>
        <h1>About Us</h1>
    </div>
   </div>
   <!---------------------------------------about_main------------------------------------------->

   <div class="about_main">
    <div class="about_head">
        <h1>Our Global Campus</h1>
        <p>Opportunities don’t happen. You create them." — Chris Grosser</p>
    </div>
   </div>
   <div class="card_main">
   <div class="card">
    <div class="image">
        <img src="{% static 'images/Campus1.jpeg'%}" >
    </div>
    <div class="layer">
        <h3>LONDON</h3>
    </div>



   </div>
   <div class="card">
    <div class="image">
        <img src="{% static 'images/Campus2.jpeg'%}" >
    </div>
    <div class="layer">
        <h3>NEWYORK</h3>
    </div>


   </div>
   <div class="card">
    <div class="image">
        <img src="{% static 'images/Campus4.jpeg'%}" >
    </div>
    <div class="layer">
        <h3>WASHINGTON</h3>
    </div>

   </div>
</div>
<!------------------------------after card ------------------------------------->

<div class="detail">
    <div class="para">
        <h1>We are the world's largest university</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique expedita<br> praesentium voluptatem magni fugit iure illo saepe obcaecati ipsam, ad repudiandae<br> placeat quasi ipsum excepturi eum, minima ducimus perferendis<br> temporibus molestiae, officia eligendi facere distinctio. Facere repellendus ullam <br> </p>
        <br>
        <br>
        <button><span>EXPLORE NOW</span></button>
    </div>
    <div class="card2">
        <div class="c2img">
            <img src="{% static 'images/library.jpeg' %}" alt="">
        </div>
    </div>
</div>
<!----------------------------------footer------------------------------>
<div class="footer">
    <div class="stdsays">
        <h1>Our Students Says</h1>
       
       <p>  <span class="material-symbols-outlined">format_quote</span> &nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Qui ducimus optio ipsum illo possimus labore commodi minima officia. <br>Numquam ipsum quae quas culpa, facilis odio eligendi accusamus eaque labore magnam?<span class="material-symbols-outlined">format_quote</span></p>


    </div>
</div>


</body>
</html>