{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/courses.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@100&family=Rubik:wght@300&family=Secular+One&family=Source+Serif+Pro:ital,wght@0,300;0,600;1,300&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container_head">
        <div>
            <h1>Our Courses</h1>
        </div>
       </div>
       <!----------------------------------card------------------------------->
       <div class="course_body">
        <div class="card3">
            <div class="c3img">
                <img src="{% static 'images/bio.jpg' %}" >

            </div>
            <div class="headding">
            <div class="text">
                <h1>Biochemesty</h1>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
        </div>
       </div>
        <div class="card3">
            <div class="c3img">
                <img src="{% static 'images/history.jpg' %}" >

            </div>
            <div class="headding">
            <div class="text">
                <h1>History</h1>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
        </div>
       </div>
       <div class="card3">
        <div class="c3img">
            <img src="{% static 'images/humen.jpg' %}" >

        </div>
        <div class="headding">
        <div class="text">
            <h1>Humen science</h1>
            <p>Lorem ipsum dolor sit amet consectetur </p>
        </div>
    </div>
   </div>
   <div class="card3">
    <div class="c3img">
        <img src="{% static 'images/earth.jpg' %}" >

    </div>
    <div class="headding">
    <div class="text">
        <h1>Earth science</h1>
        <p>Lorem ipsum dolor sit amet consectetur </p>
    </div>
</div>
</div>
</div>
<div class="btn">
    <button>VIEW ALL COURSES</button>
</div>

        
     



    
</body>
</html>