{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/courses.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@100&family=Rubik:wght@300&family=Secular+One&family=Source+Serif+Pro:ital,wght@0,300;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container_head">
        <div>
            <h1>Our Courses</h1>
        </div>
       </div>
       <!----------------------------------card------------------------------->
       <div class="course_body">
        <div class="card3">
            <div class="c3img">
                <img src="{% static 'images/bio.jpg' %}" >

            </div>
            <div class="headding">
            <div class="text">
                <h1>Biochemesty</h1>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
        </div>
       </div>
        <div class="card3">
            <div class="c3img">
                <img src="{% static 'images/history.jpg' %}" >

            </div>
            <div class="headding">
            <div class="text">
                <h1>History</h1>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
        </div>
       </div>
       <div class="card3">
        <div class="c3img">
            <img src="{% static 'images/humen.jpg' %}" >

        </div>
        <div class="headding">
        <div class="text">
            <h1>Humen science</h1>
            <p>Lorem ipsum dolor sit amet consectetur </p>
        </div>
    </div>
   </div>
   <div class="card3">
    <div class="c3img">
        <img src="{% static 'images/earth.jpg' %}" >

    </div>
    <div class="headding">
    <div class="text">
        <h1>Earth science</h1>
        <p>Lorem ipsum dolor sit amet consectetur </p>
    </div>
</div>
</div>
</div>
<div class="btn">
    <button>VIEW ALL COURSES</button>
</div>

 <!-----------------------------------footer--------------------------------->
 <div class="footer">
    <div class="social">
        <a href="#" class="fa fa-facebook" style="font-size:24px;"></a>
        <a href="#" class="fa fa-twitter" style="font-size:24px;"></a>
        <a href="#" class="fa fa-instagram" style="font-size:24px;"></a>
        <p> &nbsp;&nbsp;ajford@gmail.com</p>

    </div>
</div>

        
     



    
</body>
</html>